.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .card-Width {
   width: 80%; 
   max-width: 400px;
  }

  @media screen and (max-width: 600px) 
  {
    .card-Width {
      width: 90%; 
     }  
  }

  .cardBox {
    padding:10px 20px;
    border:1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
  }

  .left-space{
    margin-left: 20px;
  }

  .demo-heading{

  }

  .demo-sub{
    display: block;
    font-size: 15px;
  }

  .demo-div{
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
  }

  .demo-card:hover {
    cursor: pointer;
    border:3px solid green
}

  .demo-card{
    width: 20vw;
    flex: 1;
    margin: 20px;
    padding:20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }

  .demo-icon{
    font-size: 150px;
    color: cornflowerblue;
  }

  .demo-title{
    font-size: 22px;
    font-weight: bold;
  }